.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}

.btn.btn--color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.modal.show {
    display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grown {
    from {
        transform: scale(var(--grow-from));

    }

    to {
        transform: scale(var(--grow-from));

    }
}