

.form
{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadeIn linear 0.3s;
    
   
}
.form.form--login.hide
{
    display: none;
}
.form.form--register.hide
{
    display: none;
}
.form__container
{
    padding: 0 32px;
}
.form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}
.form__heading
{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    padding-left: 12px;
}
.form__switch_btn
{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    padding-right: 12px;
    text-decoration: none;
}
.form__input-entry_bar
{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 2px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.invalid .form__input-entry_bar
{
    border: 2px solid #e53838;
}
.form-message
{
    display: block;
    margin-top: 6px;
    
}
.invalid .form-message
{
    color: #e53838;
}
.form__input-entry_bar:focus
{
    border-color: #777;
}
.form__aside
{
    margin-top: 28px;
}
.form__policy
{
    font-size: 14px;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 400;
    padding: 0 12px;
}
.form__policy-link
{
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 4px;
    font-size: 14px;
    display: block;
}
.form__controls
{
    margin-top: 68px;
    display: flex;
    justify-content: flex-end;
}
.form__controls-btn
{
    margin-left: 8px;
}
.form__controls-btn.btn--login:hover
{
    background-color: #fa6f53;
}
.form__controls-btn.btn--register:hover
{
    background-color: #fa6f53;
}
.form__controls-btn:hover
{
    background-color: #f7f7f7;
}
.form__socials
{
    background-color: #F5F5F5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    margin-top: 24px;
}
.form__link
{
    text-decoration: none;
    font-size: 1.4rem;
    height: 32px;
    width: 200px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
    border: none;
}
.form__link.form__link--gg div
{
    padding: 0 !important;
    margin: 5px 0 0 0 !important;
} 
.form__link.form__link--gg span
{
    color: #666;
    font-size: 1.4rem;
    display: block;
} 
.form__link--fb
{
    background-color: #3A5A98;
    color: var(--white-color);
}
.form__link-icon--fb
{
    font-size: 1.8rem;
    color: var(--white-color);
}
/* .form__link--gg
{
    color: #666;
}
.form__link-icon--gg
{
    font-size: 1.8rem;
    color:#0084ff;
} */
/* motify modal login*/

.form__policy--login
{
    display: flex;
    justify-content: flex-end;
}
.form__policy-separate
{
    height: 14px;
    width: 1px;
    background-color: #999;
    margin: 2px 12px 0;
}
.form__policy-link.form__policy-link--color
{
    color: #777;
}
.form__policy-link--weight
{
    font-weight: 400;
}

.modal
{
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0,#a5d2e7, #4bb9ec);
    position: relative;
    animation: fadeIn linear 0.2s;
}
