.banner-img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.banner-btn{
    background-color: #a5d2e7;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}
.banner-btn-img{
    width: 14%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .banner-img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
}